<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bank Main Page</title>
</head>
<body ng-app="bank">
<hr/>
<div class="container" ng-controller="AccountController">
    <div class="row">
        <button ng-click="createAccount()" class="btn btn-sm btn-info">CreateAccount</button>
        <label>{{account | json}}</label>
    </div>
    <hr/>
    <div class="row">
        <label>AccountIdFrom</label> <input type="text" ng-model="transaction.relatedAccountId" class="input-sm spacing"/>
        <label>AccountIdTo</label> <input type="text" ng-model="transaction.transferredAccountId" class="input-sm spacing"/>
        <label>TransferAmount</label> <input type="text" ng-model="transaction.transferredAmount" class="input-sm spacing"/>
        <button ng-click="accountPayment()" class="btn btn-sm btn-info">MakePayment</button>
    </div>
    <div class="row">
        <label>{{transactionMade | json}}</label>
    </div>
    <hr/>
    <div class="row">
        <button ng-click="accountTransactions()" class="btn btn-sm btn-info">GetTransactionsFromAccountId</button>
        <input type="text" ng-model="accountId" class="input-sm spacing"/>
    </div>
    <hr/>
    <div class="row" ng-repeat="transaction in transactionList">
        <div class="">
            <label>{{transaction | json}}</label>
        </div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/AccountController.js"></script>
<script src="js/app/AccountService.js"></script>
<link rel="stylesheet" href="../css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/app/app.css"/>
</html>